{{define "questionNewForm"}}
	{{template "header" .Header}}
	<h1>{{call .tr "question.new.header"}}</h1>
	<form method="POST">
		<script src="/static/js/htmx.min.js"></script>
		<style>
			.form-inline {
				display: flex;
			}
			.form-inline a[role="button"] {
				margin-bottom: var(--spacing);
			}
		</style>
		<div id="recipients_partial">
			<label for="recipient">{{call .tr "question.new.recipient"}}</label>
			<span class="form-inline">
				<input list="recipients" name="recipient" required>
				<a href="#" role="button" hx-post="/question/new/htmx/recipient" hx-include="[name=recipient]" hx-target="#recipients_partial" hx-swap="innerHTML">{{call .tr "question.new.select"}}</a>
			</span>
		</div>

		<datalist id="recipients">
			{{range .PotentialRecipients}}
				<option value="{{.Name}}">
			{{end}}
		</datalist>
		<label for="question">{{call .tr "question.new.question"}}</label>
		<textarea name="question" placeholder="{{call .tr "question.new.questionPlaceholder"}}" required></textarea>
		<small>{{call .tr "question.new.terms"}}</small>
		<label for="reference">{{call .tr "question.new.reference"}}</label>
		<input type="text" id="reference" name="reference" placeholder="https://">
		<label for="name">{{call .tr "question.new.submitterName"}}</label>
		<input type="text" id="name" name="submitter_name" placeholder="{{call .tr "question.new.submitterNamePlacenholder"}}" required>
		<small>{{call .tr "question.new.privacy"}}</small>
		<input type="submit" value="{{call .tr "question.new.submit"}}">
	</form>
	{{template "footer"}}
{{end}}

{{define "questionNewRecipientSnippet"}}
	<label for="recipient">{{call .tr "question.new.recipient"}}</label>
	<input type="text" name="recipient" id="recipient" required value="{{.Recipient.Name}}" readonly>
	{{if .RecipientNew}}
		{{call .tr "question.new.pleaseHelpRecipientDetails"}}
		<label for="recipient_email">{{call .tr "question.new.recipientEmail"}}:</label>
		<input type="email" id="recipient_email" name="recipient_email" placeholder="email@example.com">

		<label for="recipient_email_source">{{call .tr "question.new.recipientEmailSource"}}</label>
		<input type="url" id="recipient_email_source" name="recipient_email_source" placeholder="https://officialwebsite.example.org/profile/x">
	{{end}}
{{end}}
