{{define "questions"}}
	<div>
		<p>
			{{range $index, $element := .Local.SupportNames -}}
				{{if ne $index 0}},{{end}}
				{{$element -}}
			{{end}}
			{{if gt .Local.OtherCount 0}}{{call $.Global.tr "question.view.andOtherAsks" .Local.OtherCount}}{{end}}
			{{range $index, $element := .Local.Recipients}}
				{{$element.Name}}
			{{end}}
		</p>
		<p>
			{{.Local.Question}}
		</p>
	</div>
{{end}}
