{{define "header"}}
<!doctype html>
	<html>
	<head>
		<title>{{.Title}}</title>
		<link rel="stylesheet" href="../../static/css/pico.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="container">
			<ul>
				<li><strong>{{.Title}}</strong></li>
			</ul>
			<ul>
				<li><a href="#">Platzhalter 1</a></li>
				<li><a href="#">Platzhalter 2</a></li>
			</ul>
		</nav>
		<main class="container">
{{end}}

{{define "footer"}}
		</main>
	</body>
</html>
{{end}}
